@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@300;500;700;900&display=swap");
a {
  text-decoration: none;
  color: inherit;
}

body {
  display: grid;
  grid-template: 1fr 2fr 10fr / 1fr 4fr;
  min-height: 100vh;
  font-family: "Roboto", sans-serif;
  --page-blue: #006ebe;
  --page-gray: #dce6f0;
}

aside {
  grid-column: 1;
  grid-row: 1 / -1;
  background-color: var(--page-blue);
  display: flex;
  flex-direction: column;
  gap: 10px;
  --dashboard-font-size: 20px;
  font-size: var(--dashboard-font-size);
  align-items: center;
}

aside img {
  /* object-fit: contain; */
  --icon-size: 40px;
  width: var(--icon-size);
  height: var(--icon-size);
  margin: 0 20px;

  filter: invert(100%) sepia(0%) saturate(0%) hue-rotate(93deg) brightness(103%)
    contrast(103%);
}

aside div:first-child img {
  width: calc(var(--icon-size) * 2);
  height: calc(var(--icon-size) * 2);
}

aside div:first-child {
  margin-top: 20px;
  font-size: calc(var(--dashboard-font-size) * 1.5);
}

aside div:nth-child(1n + 2) img {
  padding: 0 calc(var(--icon-size) / 2);
}
aside div {
  display: flex;
  align-items: center;
  width: 100%;
  text-decoration: none;
  color: #ffffff;
  font-weight: 900;
}

aside div:nth-last-child(4),
aside div:first-child {
  padding-bottom: 40px;
}

/* search-wrapper */

.search-wrapper {
  grid-row: 1;
  background-color: #ffffff;
  display: flex;
  align-items: center;
  gap: 20px;
  padding-left: 3%;
  padding-right: 6%;
}

.search-wrapper *:nth-child(1n + 3) {
  margin-right: 20px;
  cursor: pointer;
}

.search-wrapper input {
  flex: 1;
  margin-right: 10%;
  height: 30px;
  border-radius: 30px;
  outline: none;
  border: none;
  background-color: var(--page-gray);
  padding: 0 10px;
  font-size: 15px;
}
.search-wrapper img {
  --search-img-size: 25px;
  width: var(--search-img-size);

  height: var(--search-img-size);
  border-radius: 40px;
}

.search-wrapper .avatar-small {
  width: calc(var(--search-img-size) * 2);
  height: calc(var(--search-img-size) * 2);
}

.search-wrapper span {
  font-weight: 900;
  font-size: 20px;
}

/* greeting */

.greeting-wrapper {
  grid-row: 2;
  display: flex;
  align-items: center;
  gap: 2%;
  padding: 0 3%;
}

.greeting-wrapper > div:first-child {
  height: auto;
}

.greeting-wrapper img {
  --greeting-img-size: 100px;
  width: var(--greeting-img-size);
  height: var(--greeting-img-size);
  border-radius: 50%;
}

.greeting {
  flex: 1;
  display: grid;
  grid-template-rows: repeat(2, auto);
  font-weight: 900;
}

.username {
  font-size: 30px;
}

.greeting-wrapper a {
  width: 120px;
  height: 40px;
  margin-right: 40px;
  display: grid;
  align-items: center;
  justify-content: center;
  border-radius: 30px;
  background-color: var(--page-blue);
  color: #ffffff;
  font-weight: 900;
}

main {
  display: grid;
  grid-template: repeat(2, 1fr) / 2.5fr 1fr;
  background-color: var(--page-gray);
  --header-left-offset: 30px;
  --header-offset: 80px;
  padding-left: var(--header-left-offset);
  box-shadow: inset 0 3px 10px #b4bebe;
  --description-text-color: #8c8c8c;
}

main > * > h3 {
  align-self: end;
  position: relative;
  bottom: 15px;
}

:is(main > *, .card) > h3 {
  font-size: 25px;
  font-weight: 500;
}
.projects {
  grid-row: 1 / -1;
  grid-column: 1;
  display: grid;
  grid-template-rows: var(--header-offset) auto var(--header-offset);
  padding-right: 10px;
}

.projects .card {
  background-color: #fff;
  display: flex;
  flex-direction: column;
  padding: 20px;
  gap: 5px;
  border-left: 10px solid #fa7800;
}

.card,
.content:not(.projects > .content) {
  border-radius: 10px;
  box-shadow: 2px 2px 4px #bebebe;
}
.projects .content {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(500px, 1fr));

  grid-auto-rows: 1fr;
  gap: 32px;
  cursor: pointer;
}

.card .description {
  flex: 1;
  font-weight: 400;
  color: var(--description-text-color);
}

.card .buttons {
  display: flex;
  gap: 10px;

  justify-content: end;
}

.buttons img {
  --card-img-size: 30px;
  width: var(--card-img-size);
  height: var(--card-img-size);
}
.announcements {
  grid-row: 1;
  display: grid;
  padding: 0 40px;
  grid-template-rows: var(--header-offset) auto;
  --header-font-size: 17px;
}

.announcements .content {
  background-color: #fff;
  display: flex;
  flex-direction: column;
  --announcements-gap: 20px;
  gap: var(--announcements-gap);
  padding: 30px;
  justify-content: center;
}

.announcements section {
  display: flex;
  flex-direction: column;
  gap: 5px;
}
.announcements section:not(:last-child) {
  padding-bottom: var(--announcements-gap);
  border-bottom: 1px solid var(--description-text-color);
}
.announcements h5 {
  font-size: var(--header-font-size);
}

.announcements h5 + div {
  font-size: calc(var(--header-font-size) * 0.75);
  font-weight: 400;
  color: var(--description-text-color);
}

.trending {
  background-color: #0000ff;
  display: grid;
  grid-template-rows: var(--header-offset) auto var(--header-offset);
}
