@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@400;900&display=swap");

a {
  text-decoration: none;
  color: inherit;
}

body {
  display: grid;
  grid-template: 1fr 2fr 10fr / 1fr 4fr;
  min-height: 100vh;
  font-family: "Roboto", sans-serif;
  --page-blue: #006ebe;
}

aside {
  grid-column: 1;
  grid-row: 1 / -1;
  background-color: var(--page-blue);
  display: flex;
  flex-direction: column;
  gap: 10px;
  --dashboard-font-size: 20px;
  font-size: var(--dashboard-font-size);
  align-items: center;
}

aside img {
  /* object-fit: contain; */
  --icon-size: 40px;
  width: var(--icon-size);
  height: var(--icon-size);
  margin: 0 20px;

  filter: invert(100%) sepia(0%) saturate(0%) hue-rotate(93deg) brightness(103%)
    contrast(103%);
}

aside div:first-child img {
  width: calc(var(--icon-size) * 2);
  height: calc(var(--icon-size) * 2);
}

aside div:first-child {
  margin-top: 20px;
  font-size: calc(var(--dashboard-font-size) * 1.5);
}

aside div:nth-child(1n + 2) img {
  padding: 0 calc(var(--icon-size) / 2);
}
aside div {
  display: flex;
  align-items: center;
  width: 100%;
  text-decoration: none;
  color: #ffffff;
  font-weight: 900;
}

aside div:nth-last-child(4),
aside div:first-child {
  padding-bottom: 40px;
}

/* search-wrapper */

.search-wrapper {
  grid-row: 1;
  background-color: #ffffff;
  display: flex;
  align-items: center;
  gap: 20px;
  padding-left: 3%;
  padding-right: 6%;
}

.search-wrapper *:nth-child(1n + 3) {
  margin-right: 20px;
  cursor: pointer;
}

.search-wrapper input {
  flex: 1;
  margin-right: 10%;
  height: 30px;
  border-radius: 30px;
  outline: none;
  border: none;
  background-color: #d2d2d2;
  padding: 0 10px;
  font-size: 15px;
}
.search-wrapper img {
  --search-img-size: 25px;
  width: var(--search-img-size);

  height: var(--search-img-size);
  border-radius: 40px;
}

.search-wrapper .avatar-small {
  width: calc(var(--search-img-size) * 2);
  height: calc(var(--search-img-size) * 2);
}

.search-wrapper span {
  font-weight: 900;
  font-size: 20px;
}

/* greeting */

.greeting-wrapper {
  grid-row: 2;
  display: flex;
  align-items: center;
  gap: 2%;
  padding: 0 3%;
}

.greeting-wrapper > div:first-child {
  height: auto;
}

.greeting-wrapper img {
  --greeting-img-size: 100px;
  width: var(--greeting-img-size);
  height: var(--greeting-img-size);
  border-radius: 50%;
}

.greeting {
  flex: 1;
  display: grid;
  grid-template-rows: repeat(2, auto);
  font-weight: 900;
}

.username {
  font-size: 30px;
}

.greeting-wrapper a {
  width: 120px;
  height: 40px;
  margin-right: 40px;
  display: grid;
  align-items: center;
  justify-content: center;
  border-radius: 30px;
  background-color: var(--page-blue);
  color: #ffffff;
  font-weight: 900;
}

main {
  background-color: #aa00aa;
}
